table {
  border-collapse: collapse;
  table-layout: fixed;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;}

td, th {
  border: 1px solid #999;
  overflow: hidden;
  width: 50px;
  text-align: left;}

.firstRow {
  width: 130px}
